.ui-button {
  cursor: pointer;
  background-color: var(--background-surface);
  color: var(--text-primary);
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  &[disabled] {
    background-color: var(--background-disabled);
    color: var(--text-disabled);
  }
}
