:host {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .navigator {
    &-top {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
    &-search {
      padding-bottom: 8px;
    }
  }
  .entity {
    &-list {
      padding: 0 4px;
      display: flex;
      gap: 4px;
      flex-direction: column;
      img {
        width: 100%;
        // max-height: 192px;
        object-fit: none;
      }
    }
  }
}
