.ui-input {
  display: flex;
  width: 100%;

  input {
    width: 100%;
    background-color: var(--background-default);
    color: var(--text-primary);
    border: 1px solid var(--border-default);
    padding: 8px;
    border-radius: 8px;
  }
}
