:host {
  transition: 0.1s ease;
}

.menu {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

[cdkdrag] {
  &:active {
    * {
      cursor: move;
      box-shadow: 0px 0px 0px 3px var(--border-active);
      // border: 3px solid var(--border-active);
      // opacity: 0.8;
      transition: 0.1s;
    }
  }
}
