$base-layout-padding: 20px;

:host {
  display: flex;
  height: 100vh;

  .ui-left-panel {
    width: 100%;
    max-width: 20vw;
    padding: $base-layout-padding;
    background-color: var(--background-default);
  }
  .ui-main-content {
    width: 100%;
    padding: $base-layout-padding;
    background-color: var(--background-surface);
    color: #000000;
  }
  .ui-right-panel {
    width: 100%;
    max-width: 20vw;
    padding: $base-layout-padding;
    background-color: var(--background-default);
  }
}
